<div id="<%= dom_id appoinment_type %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Payment required:</strong>
    <%= appoinment_type.payment_required %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= appoinment_type.name %>
  </p>

  <p class="my-5 flex justify-start items-center gap-3">
    <strong class="block font-medium mb-1">User:</strong>
    <%= appoinment_type.user.first_name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= appoinment_type.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= appoinment_type.description %>
  </p>

</div>
