<tr id="<%= dom_id appoinment %>">
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.status %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.pet&.name %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.pet&.breed %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.pet&.kind %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.start_at.strftime('%b %e, %Y at %l:%M %p') %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.end_at.strftime('%b %e, %Y at %l:%M %p') %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.appoinment_type.name %></td>
  <td class="border border-slate-300 bg-white text-left p-4"><%= appoinment.payments&.any? ? appoinment.payments&.first.billing_status : "No required" %></td>
</tr>